*,
::before,
::after {
  box-sizing: border-box;
}

body {
  text-align: center;
}

.grid-container {
  height: 800px;
  width: 800px;
  display: grid;
  margin: 0 auto;
}

.filled {
  background-color: gray;
}