*,
::before,
::after {
  box-sizing: border-box;
}


.grid-container {
  height: 760px;
  width: 760px;
  display: grid;
  /* grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr); */
}

.filled {
  background-color: gray;
}